@charset "utf-8";
/* CSS Document */

body {
	color: #fff;
	font-family: "微软雅黑";
	font-size: 14px;
}
.wrap1 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto
}
.main_content {
	background: url(img/main_bg.png) repeat;
	margin-left: auto;
	margin-right: 700px;
	margin-top:-200px;
	text-align: left;
	float: right;
	border-radius: 8px;
}
.form-group {
	position: relative;
}
.login_btn {
	background: #3872f6;
	color: #fff;
	font-size: 15px;
	width: 120px;
	line-height: 50px;
	border-radius: 3px;
	border: none;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
.login_btn:hover {
	background-color: #486AAA;
}
.btn1 {
	background: #3872f6;
	color: #fff;
	font-size: 15px;
	width: 120px;
	line-height: 50px;
	border-radius: 3px;
	border: none;
	margin: 20px;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
.btn1:hover {
	background-color: #486AAA;
}
.login_input {
	width: 400px;
	border: 1px solid #3872f6;
	border-radius: 3px;
	line-height: 40px;
	padding: 2px 5px 2px 30px;
	background: none;
	height: 40px;
}
.login_input1 {
	width: 400px;
	border: 1px solid #3872f6;
	border-radius: 3px;
	line-height: 40px;
	padding: 2px 5px 2px 30px;
	background: none;
	height: 120px;
}
.font16 {
	font-size: 16px;
	font-weight: bold;
}
.mg-t20 {
	margin-top: 30px;
}
 @media (min-width:200px) {
.pd-xs-20 {
	padding: 20px;
}
}
 @media (min-width:768px) {
.pd-sm-50 {
	padding: 50px;
}
}
.footer {
	height: 20px;
	line-height: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background: #333;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	letter-spacing: 1px;
}
.top {
	height: 35px;
	line-height: 40px;
	position: fixed;
	top: 0;
	width: 100%;
	background: #999;
	color: #fff;
	font-family: Arial;
	font-size: 18px;
	letter-spacing: 1px;
}
